@use "./variables" as *;
@import url("/node_modules/bootstrap/scss/bootstrap.scss");
@import url("./reset.scss");
@import "./colors";
@import "./global";
@import url("/node_modules/slick-carousel/slick/slick.css");
@import url("/node_modules/slick-carousel/slick/slick-theme.css");

.page-container {
  padding: 16px;
  min-height: calc(100%);
  background-color: $gray;
  display: flex;
  flex-direction: column;
}

.page-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-title {
    height: 30px;
    font-size: 26px;
  }

  &-actions {
    .add-action {
    }
  }
}

.page-contents {
  // height: 1520px;
  background-color: $white;
  border-radius: 5px;
  max-width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  position: relative;
}

.layout-loading {
  position: absolute;
  top: 0;
  bottom: 500px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27272718;
  z-index: 1000;
}
