@use "../../themes/colors" as *;
@use "../../themes/variables" as *;

.Navbar {
  height: 85px;
  padding: 15px;
  padding-right: 30px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 20px;
  z-index: 100;

  &__search {
    cursor: pointer;
    margin-right: 30px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__left {
    display: flex;
    flex: 1;
  }

  &__routes {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }


  &__profile {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: $red_03;
    }
  }

  &__auth {
    display: flex;
    gap: 8px;
    padding-left: 20px;
    margin-left: 10px;
    border-left: 1px solid $neutrals_03;

    &-name {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-login,
    &-register {
      padding: 12px;
      cursor: pointer;

      font-size: $font-size-medium;

      &:hover {
        opacity: 0.8;
        text-decoration: underline;
        color: $primary-color;
      }
    }

    &-login {
      border-right: 1px solid $neutrals_07;
    }
  }

  &__cart {
    padding: 16px;
    cursor: pointer;
    margin-left: 12px;

    &-badge {
      .MuiBadge-badge {
        background-color: $white;
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }

    &:hover {
      opacity: 0.8;
    }

    &-icon {
      color: $red_07;
    }
  }

  &__icon {
    margin-left: 30px;
    margin-right: 20px;
    &-img {
      height: 70px;
      width: 70px;
    }
  }

  &__routes {
    display: flex;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-size-medium;
      cursor: pointer;
      padding: 18px;
      border-radius: 10px;

      &:hover {
        color: $red_07;
        background-color: #c4ccd00e;
      }

      &.active {
        color: $red_07;
      }
    }
  }
}


/* Mobile */
@media (max-width: 767px) {
 .Navbar {

  padding: 0;
  justify-content: flex-end;


  &__menu {
    width: 56px;
    height: 56px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    &:hover {
      background-color: $pink_01;
    }
  }

  &__left {
    display: none;
  }

  &__right {
    padding: 0 12px;
    flex: 1;
    justify-content: space-between;
  }

  &__profile {
    width: 56px;
    height: 56px;
    margin-left: 12px;
  }

  &__auth-name {
    display: none;
  }
 }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
 
}

